
body{
    margin: 0;
}
.top-bar{
    background-color: black;
    color: white;
    display: flex;

    border-bottom: 1px solid rgb(59, 59, 59);
    align-items: center;
    justify-content: center;
    height: 50px;

}
.headline{
    font-size: 15px;
  

    
}
.text-container {
    display: flex;
    align-items: center;
}

.menubar{
    background-color: black;
    color: lightgray;
    height: 70px;
    align-items: center;
    border-bottom: 1px solid rgb(59, 59, 59);

}
.grid-image-size{
    width: 120px;
    opacity: 0.9;
    margin-left: 20px;
    cursor: pointer;
}
.grid-image, .menu{
    margin-left: 50px;
    
}

.a-menu{
    margin-right: 20px;
    color: lightgray;
    text-decoration: none;
}
.a-menu:hover{
    color: white;
    text-decoration: underline;
}
.prof-icon{
    width: 50px;
    height: 30px;
}
#prof-icon{
    width: 80px;
    height: 60px;
}
.book-container{
    width: 100%;
    padding-left: 2%;
    
}
.book-img-div{
 width: 31%;
 margin-bottom: 30px;
 margin-right: 20px;
 
}
.image-style{
    width:100%;
    cursor: pointer;
}
.about-us{
    margin-top: 50px;
}
.founder-style{
    width: 90%;
    margin-left: 5%;
}
.about-us-button{
    padding: 15px 40px;
    background-color: black;
    color: white;
    border: none;
}
footer{
   
    margin-top: 50px;
    height: 450px;
    background-color: black;
}
.contact-us{
    margin-top: 20px;
}
.a-footer{
    color: rgb(141, 141, 141);
    display: block;
    line-height: 45px;
    font-size: 18px;
}
.a-footer:hover{
    color: white;
}
.policyDiv{
    border-top: 1px solid rgb(32, 31, 31);
    display: flex;
    align-items: center;
    color: rgb(75, 75, 75);
    font-size: 12px;
    letter-spacing: 1px;
    padding-left: 50px;

}
.policyBar{
    display: inline;
    align-items: center;

}
.insta-img{
    margin-top: 70px;
    height:  70px;
    align-items: center;
}
.ins-logo{
    width: 20px;
}
.ins-logo:hover{
    cursor: pointer;
    width: 22px;
}